{{define "content"}}
<form action="http://127.0.0.1:8080/tugsHandler" method="post" enctype="application/x-www-form-urlencoded">
    <label>Port: </label>
    <select name="port">
        {{range .}}
        <option>{{.}}</option>
        {{end}}
    </select>
    <label>IMO: </label>
    <input type="text" name="imo">
    <label>Type of request: </label>
    <input type="radio" name="requestType" value="arrival" id="arrival">
    <label for="arrival">Arrival</label>
    <input type="radio" name="requestType" value="departure" id="departure">
    <label for="departure">Departure</label>
    <label>Number of tugs: </label>
    <input type="number" name="tugsNumber" min="1" value="1">
    <input type="submit">
</form>
{{end}}